# Ignora archivos de python y archivos de cache
__pycache__/
*.pyc

# Ignora archivos de configuración de docker
# docker-compose.yml
.dockerignore
Dockerfile

# Ignora archivos de configuración de git
.gitignore
.git

# Archivos de logs
*.log
